<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>菜单管理</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="/static/style/admin.css" media="all">
</head>

<body>
  <div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-form layui-card-header layui-card-header-auto">
        <div class="layui-form-item">
          <div class="layui-inline">
            <label class="layui-form-label">菜单名称</label>
            <div class="layui-input-block">
              <input type="text" name="name" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <button class="layui-btn layui-btn-menuadmin" lay-submit lay-filter="listSearch">
              <i class="layui-icon layui-icon-search layui-button-btn"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="layui-card-body">
        <div style="padding-bottom: 10px;">
          <button class="layui-btn layui-btn-menu" data-type="add">添加</button>
        </div>

        <table id="menuTable" class="layui-hide" lay-filter="menuTable"></table>
        <script type="text/html" id="typeTpl">
          {{#  if(d.type == 1){ }}
          <button class="layui-btn layui-btn-xs">菜单</button>
          {{#  } else if(d.type == 2) { }}
            <button class="layui-btn layui-btn-primary layui-btn-xs">目录</button>
          {{#  } else { }}
            <button class="layui-btn layui-btn-primary layui-btn-xs layui-bg-red">按钮</button>
          {{#  } }}

        </script>
        <script type="text/html" id="statusTpl">
          {{#  if(d.menu_status == 1){ }}
          <button class="layui-btn layui-btn-xs">正常</button>
          {{#  } else { }}
            <button class="layui-btn layui-btn-primary layui-btn-xs">禁用</button>
          {{#  } }}
        </script>
        <script type="text/html" id="table-bar">
          <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
          <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
        </script>
      </div>
    </div>
  </div>
  <script src="/static/layui/layui.js"></script>
  <script>
    layui.config({
      base: '/static/'
    }).extend({
      index: 'lib/index'
    }).use(function () {
      var $ = layui.$, form = layui.form, table = layui.treeTable;
      //菜单管理
      table.render({
        elem: '#menuTable',
        url: '/menu/tree',
        tree: {
          customName: {
            pid: 'p_id',
            isParent: 'is_parent',
            name: "menu_name"
          },
          data: {},
          view: {},
          async: {},
          callback: {}
        },
        cols: [[
          { field: 'id', title: 'ID', width: '3%', unresize: true, sort: true, align: 'left', fixed: 'left' },
          { field: 'menu_name', title: '名称', fixed: 'left' },
          { field: 'type', title: '类型', align: 'center', width: 70, templet: '#typeTpl' },
          { field: 'auth_code', title: '校验码', width: 180, align: 'left' },
          //{ field: 'url', title: '访问地址', align: 'left' },
          { field: 'hurl', title: 'H5访问地址', align: 'left' },
          { field: 'sort', title: '排序', width: 70, align: 'center' },
          { field: 'menu_status', title: '状态', width: 70, align: 'center', templet: '#statusTpl' },
          { field: 'created_at', title: '创建时间', width: 160,  width: 180, align: 'center' },
          { field: 'updated_at', title: '修改时间', width: 160, width: 180, align: 'center' },
          { title: '操作', width: 150, align: 'center', fixed: 'right', toolbar: '#table-bar' }
        ]],
        page: false,
        limit: 10,
        maxHeight: '501px',
        height: 'full-220',
        text: '对不起，加载出现异常！'
      });

      //监听工具条
      table.on('tool(menuTable)', function (obj) {
        if (obj.event === 'edit') {
          var tr = $(obj.tr);
          layer.open({
            type: 2,
            title: '修改菜单'
            , content: '/static/views/menu/form.html',
            maxmin: true,
            area: ['50%', '80%'],
            btn: ['确定', '取消'],
            yes: function (index, layero) {
              var iframeWindow = window['layui-layer-iframe' + index]
                , submitID = 'layui-form-pd'
                , submit = layero.find('iframe').contents().find('#' + submitID);
             
              //监听提交
              iframeWindow.layui.form.on('submit(' + submitID + ')', function (data) {
                var field = data.field;
                field.id = obj.data.id
                $.ajax({
                  type: "put",
                  url: "/menu/update/" + field.id,
                  data: JSON.stringify({
                    ...obj.data,
                    ...field
                  }),
                  contentType: 'application/json;charset=utf-8',
                  processData: false,
                  dataType: "json",
                  success: function (result) {
                    if (result.success) {
                      layer.msg('保存成功');
                      table.reload('menuTable');
                      layer.close(index);
                    } else {
                      layer.msg('保存失败');
                    }
                  },
                  error: function (data) {
                    layer.msg("网络错误！");
                  }
                });
              });
              submit.trigger('click');
            },
            success: function (layero, index) {
              var iframeWindow = window['layui-layer-iframe' + index]
              iframeWindow.layui.getData = function () { return obj.data }
            }
          });
        } else {
          layer.confirm('确定删除吗？', function () {
            $.ajax({
              url: '/menu/delete/' + obj.data.id,
              type: 'delete',
              success: function (result) {
                if (result.success) {
                  layer.msg('操作成功');
                  table.reload("menuTable");
                } else {
                  layer.msg('操作失败', {
                    icon: 2,
                    time: 1000
                  });
                }
              },
              error: function (data) {
                layer.msg("网络错误！");
              }
            });
          });
        }
      });
      //监听搜索
      form.on('submit(listSearch)', function (data) {
        var field = data.field;

        //执行重载
        table.reload('menuTable', {
          where: field
        });
      });
      //事件
      var active = {
        add: function () {
          layer.open({
            type: 2
            , title: '添加菜单'
            , content: '/static/views/menu/form.html'
            ,
            area: ['50%', '80%']
            , btn: ['确定', '取消']
            , yes: function (index, layero) {
              var iframeWindow = window['layui-layer-iframe' + index]
                , submitID = 'layui-form-pd'
                , submit = layero.find('iframe').contents().find('#' + submitID);
              //监听提交
              iframeWindow.layui.form.on('submit(' + submitID + ')', function (data) {
                $.ajax({
                  type: "post",
                  url: "/menu/add",
                  data: JSON.stringify(data.field),
                  contentType: 'application/json;charset=utf-8',
                  processData: false,
                  dataType: "json",
                  success: function (result) {
                    if (result.success) {
                      layer.msg('保存成功');
                      table.reload('menuTable');
                      layer.close(index);
                    } else {
                      layer.msg('保存失败');
                    }
                  },
                  error: function (data) {
                    layer.msg("网络错误！");
                  }
                });
                table.reload('menuTable');
                layer.close(index); //关闭弹层
              });

              submit.trigger('click');
            },
            success: function (layero, index) {
              var iframeWindow = window['layui-layer-iframe' + index]
              iframeWindow.layui.getData = function () { return undefined }
            }
          });
        }
      }
      $('.layui-btn.layui-btn-menu').on('click', function () {
        var type = $(this).data('type');
        active[type] ? active[type].call(this) : '';
      });
    });
  </script>
</body>

</html>